.box{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
}
.container{
    width: 350px;
    display: flex;
    flex-direction: column;
    padding: 0 15px 0 15px;
    border: 2px solid black;
}
span{
    
    font-size: small;
    display: flex;
    justify-content: center;
    padding: 10px 0 10px 0;
}
body{
    background-image: url(temple.webp);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
header{
    
    font-size: 30px;
    display: flex;
    justify-content: center;
    padding: 10px 0 10px 0;
}
.input-field .input{
    height: 45px;
    width: 87%;
    border: 2px solid black;
    border-radius: 30px;
    font-size: 15px;
    padding: 0 0 0 45px;
    outline: none;
}
i{
    position: relative;
    top: -33px;
    left: 17px;
    
}

.submit{
    border: 2px solid black;
    border-radius: 30px;
    font-size: 15px;
    height: 45px;
    outline: none;
    width: 100%;
    color: black;
    cursor: pointer;
    transition: .3s ;
}
.submit:hover{
    font-size: 18px;
    
}
.two-col{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: small;
    margin-top: 10px;
}
.one{
    display: flex;
}
label a{
    text-decoration: none;
}
*{
    font-family: 'poppins' ,sans-serif;
}
a{
     color: black;
}
